// Colors
$purple : #9B5DE5;
$pink : #F15BB5;
$yellow : #FEE440;
$blue : #00BBF9;
$green : #00F5D4;
$off-black: #20222b;
$off-white: #F7F7F7;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font Sizing
$xs-font-size: 1.2rem;
$s-font-size: 1.4rem;
$m-font-size: 1.6rem;
$l-font-size: 2.0rem;
$xl-font-size: 2.4rem;
