.text-logo {
    display: flex;
    flex-direction: column;
    margin: $l-size 0;

    h1 {
        color: $pink;
        font-size: $xl-size;
        font-weight: 900;
        
        span {
            color: $purple;
        }
    }

    h2 {
        color: $yellow;
        font-size: $xl-font-size;
    }
}